body {
    background-color: #1E1E1E;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#samples-title {
    color: #9183CA;
    margin-top: 5px;
    margin-bottom: 75px;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-screen {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-screen {
    padding-top: 10px; /* Reduced top padding */
  }
  .logo {
    width: 10%; /* Original width */
    height: 10%; /* Original height */
  }

.template-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1000px;
}

.template-buttons button {
    background-color: #9183CA;
    color: #e0e0e0;
    border: 2px solid #9183CA;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: relative; /* Added for tooltip positioning context */
}

.template-buttons button:hover {
    background-color: #D5D0E5;
    transform: scale(1.05);
}

/* Button hover tooltip styles */
.button-wrapper {
    position: relative;
    display: inline-block;
}

.gif-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 10;
}

.button-wrapper:hover .gif-tooltip {
    visibility: visible;
    opacity: 1;
}

.loading-preview {
    max-width: 150px;
    height: auto;
}

h1 {
    color: #9183CA;
    margin-bottom: 30px;
}
