/*===========================================================================
  CODE SNIPPET STYLES
===========================================================================*/

/* Code snippet iframe */
.code-snippet-frame {
    position: relative;  /* Changed from absolute to relative */
    margin-top: 20px;    /* Added margin at the top */
    margin-bottom: 50px; /* Added margin at the bottom */
    width: 90%;          /* Adjusted width */
    max-width: 1000px;
    height: 60vh;        /* Set to percentage of viewport height */
    z-index: 0;
    border: 2px solid var(--support-button-color);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    pointer-events: auto !important; /* Critical for allowing interaction */
}

/* Code snippet responsive styles */
@media (min-width: 768px) {
    .code-snippet-frame {
        width: 80%;
        height: 60vh;
    }
}

@media (max-width: 767px) {
    .code-snippet-frame {
        width: 95%;
        height: 50vh;
    }
}

@media (max-height: 700px) and (min-width: 768px) {
    .code-snippet-frame {
        height: 50vh;
    }
}