<!DOCTYPE html>
<html>
  <head>
    <title>Portalis AI Chat Widget</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!-- Start of Portalis AI Chat Widget -->
    <div id="portalis-widget">
      <!-- Floating circle button -->
      <div class="floating-button">
        <!-- The overlay div needs to exist -->
        <div class="floating-button-overlay"></div>
      </div>
      <!-- Modal overlay -->
      <div class="modal-overlay">
        <div class="modal-content">
          <div class="modal-header">
            <span>Jess - Your PortalisAI Assistant!</span>
            <button class="close-button"></button>
          </div>
          <div class="iframe-container">
            <iframe
              src="https://chat.portalis.ai/guest?orgId=cd09871f-0a8d-49db-8829-4efc8fed21d0&slotId=95e1fd1e-e7e0-4ef3-82d5-61c35bfe3133"
              width="100%"
              height="100%"
              frameborder="0"
              scrolling="no"
              allow="camera;microphone;fullscreen;clipboard-write"
              referrerpolicy="origin"
              id="chat-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>

      <!-- Tooltip -->
      <div class="tooltip">Jess - Your PortalisAI Assistant!</div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
