<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Call Template</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Video Call Template</h1>
    </header>
    <main>
      <p>
        This template is used for integrating a video call feature into your
        application.
      </p>
      <div class="video-call-container">
        <iframe
          src="https://chat.portalis.ai/guest?orgId=cd09871f-0a8d-49db-8829-4efc8fed21d0&slotId=95e1fd1e-e7e0-4ef3-82d5-61c35bfe3133"
          <!--
          YOUR
          PORTALIS
          AI
          AVATAR
          URL
          HERE
          --
        >
          frameborder="0" scrolling="no"
          allow="camera;microphone;fullscreen;clipboard-write"
          referrerpolicy="origin" ></iframe
        >
      </div>
    </main>
  </body>
</html>
